@charset "UTF-8";
/************************************************************
				  NULL STYLE
************************************************************/
/*Обнуление стилей*/
@import url("https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------------------------------------------*/
/************************************************************
                	FONTS
************************************************************/
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: local("O"), url("../fonts/MontserratBold.woff") format("woff"), url("../fonts/MontserratBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: local("O"), url("../fonts/MontserratSemiBold.woff") format("woff"), url("../fonts/MontserratSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: local("O"), url("../fonts/MontserratRegular.woff") format("woff"), url("../fonts/MontserratRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: local("O"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: local("O"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: local("O"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Chocolate Classical Sans";
  font-display: swap;
  src: local("O"), url("../fonts/ChocolateClassicalSans-Regular.woff") format("woff"), url("../fonts/ChocolateClassicalSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/************************************************************
                	MIXIN
************************************************************/
/************************************************************
                	VARIABLES
************************************************************/
/*---Пример использования миксинов-----------------
---1---Миксин адаптива шрифта (размер по макету, размер по 320px)
@include adaptive-font(40,24);
-----------------------------------------------------

//Чтобы заработал ibg
	height: 100%;
	display: block;
	position: relative;

/************************************************************
               		 MAIN CODE
************************************************************/
body {
  font-family: "Roboto", sans-serif, "PT Serif";
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  background-color: #ffffff;
  color: #000;
  overflow-x: hidden;
}

.wrapper {
  overflow: hidden;
}
.wrapper-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
@media (max-width: 560px) {
  .page {
    height: auto;
  }
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  visibility: hidden;
}

.item {
  height: 100%;
  display: block;
  position: relative;
}
.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 992px) {
  .icon-menu {
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #646667;
  }
  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }
  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 773px) {
  ._container {
    max-width: 540px;
  }
}
@media (max-width: 560px) {
  ._container {
    max-width: 100%;
  }
}
._container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
._container-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: -90px;
  max-width: 1360px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  padding: 0px 15px;
}
@media (max-width: 992px) {
  ._container-about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}

/************************************************************
               		 HEADER
************************************************************/
.header {
  padding: 35px 0;
  position: relative;
  z-index: 50;
}
@media (max-width: 992px) {
  .header {
    padding: 35px 0;
  }
}
@media (max-width: 773px) {
  .header {
    padding: 20px 0;
  }
}
@media (max-width: 560px) {
  .header {
    padding: 40px 0;
  }
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.667%;
          flex: 1 1 66.667%;
}

@media (max-width: 992px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -110%;
    left: 0;
    background-color: gainsboro;
    z-index: 2;
    padding: 80px 10px 20px 10px;
    overflow: auto;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .menu__body.active {
    top: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 875px;
}
@media (max-width: 1182px) {
  .menu__list {
    width: 755px;
  }
}
@media (max-width: 992px) {
  .menu__list {
    display: block;
    width: 100%;
  }
}
.menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__link {
  font-family: "Chocolate Classical Sans", sans-serif, "PT Serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
}
@media (max-width: 992px) {
  .menu__link {
    font-family: "Montserrat", "PT Serif", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #646667;
  }
}
.menu__link-active {
  color: steelblue;
}
.menu__link-active:after {
  left: 0;
  width: 100%;
}

@media (max-width: 992px) {
  .orderBtn {
    display: none;
  }
}
@media (max-width: 560px) {
  .orderBtn__text {
    width: 100%;
    font-size: 15px;
  }
}
.orderBtn__text {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  padding: 17.5px 17.25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: radial-gradient(113.41% 117.29% at -13.39% 80%, #fff 0%, #b69e5e 100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.orderBtn__text:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/************************************************************
               		 STATUS-BLOCK
************************************************************/
.main-screen {
  position: relative;
}
.main-screen__bg {
  position: absolute;
  width: 105%;
  height: 185%;
  top: -16em;
  left: -2em;
}

.main-screen-content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-screen-content__logo {
  position: relative;
  margin-top: 135px;
}
@media (max-width: 1182px) {
  .main-screen-content__logo {
    margin-top: 78px;
  }
}
.main-screen-content__logo img {
  height: 100px;
  width: 100px;
  position: relative;
  z-index: 6;
}
.main-screen-content__logo-first-line img {
  position: absolute;
  z-index: 5;
  left: -3em;
  top: -7.7em;
  width: 67em;
  height: 100%;
}
@media (max-width: 1182px) {
  .main-screen-content__logo-first-line img {
    top: -5.7em;
  }
}
.main-screen-content__logo-second-line img {
  position: absolute;
  z-index: 5;
  width: 50em;
  height: 100%;
  top: 10em;
  left: 7em;
}
.main-screen-content__img {
  width: 100%;
  z-index: 5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70.33%;
          flex: 1 1 70.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.main-screen-content__img-img {
  width: 102%;
  position: relative;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 150px 0px 0px 15px;
  max-width: 640px;
  max-height: 230px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1182px) {
  .company {
    margin: 88px 0px 0px 15px;
  }
}
.company__name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: white;
}
.company__name-sec {
  font-family: "Chocolate Classical Sans", sans-serif, "PT Serif";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  color: #ffb900;
}
.company__disk {
  font-family: "Chocolate Classical Sans", sans-serif, "PT Serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  max-width: 600px;
  margin-top: 47px;
}
@media (max-width: 1182px) {
  .company__disk {
    text-align: justify;
    margin-top: 25px;
  }
}

.about-fpg {
  width: 102%;
  height: 800px;
  background-color: #222436;
  background: #222436;
  top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}
@media (max-width: 992px) {
  .about-fpg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}
.about-fpg-center {
  display: none;
}
@media (max-width: 992px) {
  .about-fpg-center {
    display: block;
    width: 100%;
  }
}
.about-fpg-center img {
  width: 87%;
  position: relative;
}

.about-fpg-left {
  position: relative;
}
@media (max-width: 992px) {
  .about-fpg-left {
    width: 200%;
  }
}
.about-fpg-left__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 992px) {
  .about-fpg-left__bg {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .about-fpg-left__bg img {
    width: 100%;
  }
}
.about-fpg-left__text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: white;
  max-width: 404px;
  position: relative;
  left: 2.5em;
  top: -10.6em;
}
@media (max-width: 992px) {
  .about-fpg-left__text {
    display: none;
  }
}

@media (max-width: 992px) {
  .about-fpg-right {
    display: none;
  }
}
.smallWidth {
  font-family: "Chocolate Classical Sans", sans-serif, "PT Serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  display: none;
}
@media (max-width: 992px) {
  .smallWidth {
    display: block;
  }
}
.smallWidth__title {
  display: none;
}
@media (max-width: 992px) {
  .smallWidth__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: white;
    padding-top: 75px;
  }
}
.right-main {
  font-family: "Chocolate Classical Sans", sans-serif, "PT Serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.right-main-top, .right-main-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992px) {
  .right-main-top, .right-main-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.right-main-middle {
  max-width: 788px;
}
@media (max-width: 992px) {
  .right-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.right-main-one {
  max-width: 365px;
  position: relative;
  top: 180px;
  left: 40px;
}
@media (max-width: 1182px) {
  .right-main-one {
    top: 170px;
    width: 250px;
  }
}
.right-main-two {
  max-width: 360px;
  position: relative;
}
.right-main-two span {
  color: #5e9ed5;
}
@media (max-width: 1182px) {
  .right-main-two {
    left: 10px;
    width: 250px;
  }
}

.right-main-three {
  max-width: 320px;
  position: relative;
  top: -160px;
  left: -5px;
}
@media (max-width: 1182px) {
  .right-main-three {
    top: -130px;
    width: 250px;
  }
}
@media (max-width: 1128px) {
  .right-main-three {
    top: -120px;
  }
}

.right-main-four {
  max-width: 360px;
  position: relative;
  left: -90px;
}
@media (max-width: 1182px) {
  .right-main-four {
    left: -70px;
    width: 250px;
  }
}
@media (max-width: 1060px) {
  .right-main-four {
    left: -25px;
  }
}

.grafic-main-line {
  width: 100%;
}
@media (max-width: 1060px) {
  .grafic-main-line {
    width: 110%;
  }
}
@media (max-width: 992px) {
  .grafic-main-line {
    display: none;
  }
}

.readyAndTry {
  position: relative;
  top: 55px;
}
.readyAndTry__bg {
  position: absolute;
  width: 102%;
  height: 100%;
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
  top: 0px;
}
.readyAndTry-main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.readyAndTry-main-readyProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 75px;
  width: 100%;
}
@media (max-width: 560px) {
  .readyAndTry-main-readyProduct {
    padding-top: 50px;
  }
}

.readyProduct-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
}
@media (max-width: 560px) {
  .readyProduct-title {
    font-size: 27px;
  }
}
.readyProduct-subtitle {
  font-family: "Chocolate Classical Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  padding-top: 10px;
  max-width: 600px;
}
@media (max-width: 773px) {
  .readyProduct-subtitle {
    padding-top: 30px;
    font-size: 16px;
  }
}
.readyProduct-cards {
  margin-top: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1182px) {
  .readyProduct-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
}

.subtitle-tryProduct {
  width: 600px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 773px) {
  .subtitle-tryProduct {
    width: 100%;
  }
}

.cardsReady {
  width: 240px;
  height: 500px;
  border: 1px solid rgba(94, 158, 213, 0.5);
  backdrop-filter: blur(4px);
  background: rgba(44, 107, 161, 0.38);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1182px) {
  .cardsReady {
    margin: 20px;
  }
}
@media (max-width: 773px) {
  .cardsReady {
    width: 250px;
    height: 250px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.cardsReady img {
  padding-top: 20px;
}
@media (max-width: 773px) {
  .cardsReady img {
    padding-top: 0px;
  }
}
@media (max-width: 773px) {
  .cardsReady-ifnone {
    display: none;
  }
}
.cardsReady-img-digmat {
  width: 89%;
}
@media (max-width: 773px) {
  .cardsReady-img-digmat {
    width: 46%;
  }
}
.cardsReady-img-BPVV {
  width: 85%;
}
@media (max-width: 773px) {
  .cardsReady-img-BPVV {
    width: 46%;
  }
}
.cardsReady-img-BUVV {
  width: 85%;
}
@media (max-width: 773px) {
  .cardsReady-img-BUVV {
    width: 46%;
  }
}
.cardsReady-img-RS80 {
  width: 90%;
}
@media (max-width: 773px) {
  .cardsReady-img-RS80 {
    width: 46%;
  }
}
.cardsReady-name {
  font-family: "Chocolate Classical Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: #5e9ed5;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 773px) {
  .cardsReady-name {
    margin-bottom: 0px;
    font-size: 24px;
  }
}
.cardsReady-name-digmat {
  margin-bottom: 20px;
}
@media (max-width: 773px) {
  .cardsReady-name-digmat {
    margin-bottom: 0px;
  }
}
.cardsReady-name-RS80 {
  margin-bottom: 20px;
}
@media (max-width: 773px) {
  .cardsReady-name-RS80 {
    margin-bottom: 0px;
  }
}
.cardsReady-name-about {
  font-size: 20px;
  line-height: normal;
  text-align: center;
}
.cardsReady-BPVV-link {
  display: contents;
}

.cardsTry {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
}
@media (max-width: 773px) {
  .cardsTry {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.cardsTry-img {
  padding-top: 30px;
}
@media (max-width: 773px) {
  .cardsTry-img {
    width: 32%;
  }
}
.cardsTry-name {
  font-family: "Chocolate Classical Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: #80c4ff;
  padding-top: 30px;
}
@media (max-width: 773px) {
  .cardsTry-name {
    padding-top: 0px;
    font-size: 28px;
  }
}
.cardsTry-subname {
  padding-top: 30px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  color: #5e9ed5;
  margin: 0 10px 0 10px;
}
@media (max-width: 773px) {
  .cardsTry-subname {
    padding-top: 0px;
    font-size: 16px;
    text-align: center;
  }
}
.tryProduct {
  padding-top: 120px;
}
@media (max-width: 1182px) {
  .tryProduct {
    padding-top: 75px;
  }
}
@media (max-width: 773px) {
  .tryProduct {
    padding-top: 50px;
  }
}
.tryProduct-noneBlock {
  height: 118px;
}

.advantages {
  height: 800px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.advantages_container {
  position: relative;
  left: -1%;
}
.advantages-bg {
  background: #222436;
  width: 102%;
  position: relative;
  height: 100%;
}
.advantages-title {
  padding-top: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #fff;
}
@media (max-width: 560px) {
  .advantages-title {
    font-size: 22px;
    padding-top: 50px;
  }
}
.advantages-main {
  padding-top: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
}
@media (max-width: 1182px) {
  .advantages-main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px;
  }
}
@media (max-width: 560px) {
  .advantages-main {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
.advantages-card {
  width: 370px;
  height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid rgba(101, 164, 219, 0.08);
  border-radius: 3px;
}
@media (max-width: 1182px) {
  .advantages-card {
    padding: 5px;
    margin: 20px;
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 560px) {
  .advantages-card {
    width: 250px;
    height: 250px;
    margin: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.advantages-card-img {
  padding-top: 80px;
}
@media (max-width: 1182px) {
  .advantages-card-img {
    padding-top: 50px;
  }
}
@media (max-width: 560px) {
  .advantages-card-img {
    padding-top: 0px;
  }
}
@media (max-width: 560px) {
  .advantages-card-img-img {
    width: 50px;
  }
}
.advantages-card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #5e9ed5;
  padding-top: 14px;
}
@media (max-width: 560px) {
  .advantages-card-title {
    padding-top: 0px;
    font-size: 15px;
  }
}
.advantages-card-subtitle {
  padding-top: 14px;
  width: 332px;
  font-family: "Chocolate Classical Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  text-align: center;
  color: #fff;
}
@media (max-width: 560px) {
  .advantages-card-subtitle {
    width: 100%;
    padding-top: 0px;
    font-size: 14px;
  }
}

.ruProduct-bg {
  height: 100%;
  background: #e7e7e7;
}
.ruProduct-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 150px 0;
}
@media (max-width: 1182px) {
  .ruProduct-main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 992px) {
  .ruProduct-main {
    padding: 70px 0;
  }
}
@media (max-width: 560px) {
  .ruProduct-main {
    padding: 50px 0;
  }
}
.ruProduct-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 570px;
}
@media (max-width: 992px) {
  .ruProduct-left {
    max-width: 100%;
  }
}
.ruProduct-left-double {
  display: none;
}
@media (max-width: 992px) {
  .ruProduct-left-double {
    display: block;
  }
}
@media (max-width: 992px) {
  .ruProduct-left-ico {
    display: none;
  }
}
.ruProduct-left-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #000;
  padding-top: 21px;
}
@media (max-width: 992px) {
  .ruProduct-left-title {
    font-size: 30px;
    text-align: center;
    padding-top: 0px;
  }
}
@media (max-width: 560px) {
  .ruProduct-left-title {
    font-size: 22px;
  }
}
.ruProduct-left-subtitle {
  font-family: "Chocolate Classical Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000;
  padding-top: 21px;
  text-align: justify;
  padding-right: 40px;
}
@media (max-width: 992px) {
  .ruProduct-left-subtitle {
    padding: 50px 0 0 0;
  }
}
@media (max-width: 560px) {
  .ruProduct-left-subtitle {
    font-size: 15px;
    padding: 30px 0 0 0;
  }
}
.ruProduct-left-btn {
  padding-top: 40px;
}
.ruProduct-right-img {
  width: 100%;
}
@media (max-width: 1182px) {
  .ruProduct-right-img {
    padding-top: 25px;
  }
}
@media (max-width: 992px) {
  .ruProduct-right-img {
    padding-top: 50px;
  }
}
@media (max-width: 560px) {
  .ruProduct-right-img {
    padding: 30px 0 0 0;
  }
}
@media (max-width: 992px) {
  .ruProduct-right {
    display: none;
  }
}

.inTouch-main {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.inTouch-main-title {
  color: #000;
  padding-top: 0px;
  text-transform: uppercase;
}
.inTouch-main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.inTouch-main-body-img {
  background-image: url("../img/aboutuspng.svg");
  width: 1200px;
  height: 500px;
  background-repeat: no-repeat;
  position: absolute;
  background-size: 25%;
  z-index: 1;
  margin-top: 140px;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}
.inTouch-main-body-text {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 28px;
  font-family: "Montserrat", "PT Serif", sans-serif;
  font-weight: 500;
  line-height: 185%;
  color: #000;
  max-width: 700px;
  text-align: justify;
  text-indent: 50px;
}
.inTouch-submain {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 28px;
  font-family: "Montserrat", "PT Serif", sans-serif;
  font-weight: 500;
  color: #000;
  z-index: 10;
}
.inTouch-submain-about {
  font-weight: 600;
}
.inTouch-submain-tel {
  color: #000;
  text-decoration: underline;
}
.inTouch-submain-mail {
  color: #000;
  text-decoration: underline;
}

.support-block-fl__dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 28px;
  font-family: "Montserrat", "PT Serif", sans-serif;
  font-weight: 500;
  line-height: 185%;
  color: #000;
}
@media (max-width: 992px) {
  .support-block-fl__dev {
    text-align: center;
  }
}
.support-block-fl__dev-text {
  text-align: justify;
  -moz-text-align-last: right;
       text-align-last: right;
  max-width: 660px;
  margin-left: 44%;
}
@media (max-width: 992px) {
  .support-block-fl__dev-text {
    margin-left: 0%;
    max-width: none;
    -moz-text-align-last: left;
         text-align-last: left;
    text-indent: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 730px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .support-block-fl__dev-text {
    max-width: 540px;
  }
}
@media (max-width: 570px) {
  .support-block-fl__dev-text {
    line-height: 150%;
  }
}
@media (max-width: 420px) {
  .support-block-fl__dev-text {
    font-size: 10px;
    max-width: 270px;
    padding: 10px 0 10px 0;
  }
}
.support-block-fl__dev-info-tel {
  color: #000;
  text-decoration: underline;
}
.support-block-fl__dev-info-mail {
  color: #000;
  text-decoration: underline;
}
@media (max-width: 420px) {
  .support-block-fl__dev-info {
    font-size: 10px;
  }
}
.support-block-fl__dev-title {
  text-align: right;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 1%;
}
@media (max-width: 992px) {
  .support-block-fl__dev-title {
    text-align: center;
  }
}
@media (max-width: 420px) {
  .support-block-fl__dev-title {
    font-size: 12px;
    margin-bottom: 0;
  }
}
.support-block-fl__dev-contact {
  font-weight: 600;
}
@media (max-width: 420px) {
  .support-block-fl__dev-contact {
    font-size: 10px;
  }
}

@media (max-width: 992px) {
  .footer__menu__link {
    font-size: 15px;
  }
}
@media (max-width: 773px) {
  .footer__menu__link {
    padding: 10px 10px;
  }
}
@media (max-width: 560px) {
  .footer__menu__link {
    padding: 0;
  }
}
.footer-bg {
  height: 400px;
  background: #222436;
}
@media (max-width: 992px) {
  .footer-bg {
    height: 340px;
  }
}
@media (max-width: 773px) {
  .footer-bg {
    height: 100%;
  }
}
.footer-main {
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992px) {
  .footer-main {
    padding-top: 70px;
    height: 280px;
  }
}
@media (max-width: 773px) {
  .footer-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 480px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
  }
}
@media (max-width: 560px) {
  .footer-main {
    height: 100%;
  }
}
@media (max-width: 773px) {
  .footer-left {
    height: 120px;
  }
}
@media (max-width: 560px) {
  .footer-left {
    height: 100%;
  }
}
.footer-left-body {
  height: 100%;
}
.footer-left-body-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992px) {
  .footer-left-body-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
}
@media (max-width: 773px) {
  .footer-left-body-list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 30px;
    height: 120px;
  }
}
@media (max-width: 560px) {
  .footer-left-body-list {
    height: 100%;
  }
}
.footer-left-body-list li {
  margin: 10px;
}
@media (max-width: 992px) {
  .footer-left-body-list li {
    padding-bottom: 0px;
  }
}
.footer-left-body-list-item {
  margin: 10px;
}
.footer-center {
  font-family: "Chocolate Classical Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992px) {
  .footer-center {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 15px;
  }
}
@media (max-width: 560px) {
  .footer-center {
    height: 220px;
  }
}
.footer-center-title {
  color: #5e9ed5;
}
.footer-center-phone {
  letter-spacing: 1px;
  color: #fff;
}
.footer-center-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-center-mail {
  color: #fff;
  letter-spacing: 1px;
}
.footer-right {
  margin-right: 165px;
}
@media (max-width: 992px) {
  .footer-right {
    margin-right: 0px;
  }
}
@media (max-width: 560px) {
  .footer-right {
    width: 97%;
  }
}
@media (max-width: 992px) {
  .footer-right-btn {
    display: block;
  }
}
@media (max-width: 560px) {
  .footer-right-btn {
    width: 100%;
  }
}
@media (max-width: 773px) {
  .footer-right {
    padding: 30px 0px;
  }
}

.bpvv-page {
  background: #222436;
}
.bpvv-main-flex {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992px) {
  .bpvv-main-flex {
    padding-top: 0;
  }
}
@media (max-width: 560px) {
  .bpvv-main-flex {
    height: 100%;
  }
}
@media (max-width: 992px) {
  .bpvv-main-flex-left {
    max-width: 45% !important;
  }
}
@media (max-width: 773px) {
  .bpvv-main-flex-left {
    max-width: 48% !important;
  }
}
@media (max-width: 560px) {
  .bpvv-main-flex-left {
    max-width: 100% !important;
  }
}
@media (max-width: 992px) {
  .bpvv-main-flex-right {
    max-width: 45%;
  }
}
@media (max-width: 773px) {
  .bpvv-main-flex-right {
    max-width: 48%;
  }
}
@media (max-width: 560px) {
  .bpvv-main-flex-right {
    display: none;
  }
}
.bpvv_btn {
  margin-right: 0;
}

.left-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 706px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1182px) {
  .left-main {
    max-width: 530px;
    height: 680px;
  }
}
@media (max-width: 992px) {
  .left-main {
    height: 700px;
  }
}
@media (max-width: 773px) {
  .left-main {
    height: 620px;
  }
}
@media (max-width: 560px) {
  .left-main {
    height: 100%;
  }
}
.left-main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #efc03f;
}
@media (max-width: 992px) {
  .left-main-title {
    font-size: 33px;
  }
}
@media (max-width: 773px) {
  .left-main-title {
    font-size: 25px;
  }
}
@media (max-width: 560px) {
  .left-main-title {
    text-align: center;
  }
}
.left-main-text {
  font-family: "Chocolate Classical Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: white;
  max-width: 620px;
  text-align: justify;
}
.left-main-text-start {
  color: #efc03f;
}
@media (max-width: 992px) {
  .left-main-text {
    font-size: 16px;
  }
}
@media (max-width: 773px) {
  .left-main-text {
    font-size: 14px;
  }
}
@media (max-width: 560px) {
  .left-main-text {
    padding-top: 30px;
  }
}
.left-main-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992px) {
  .left-main-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (max-width: 773px) {
  .left-main-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    width: 540px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 60px;
  }
}
@media (max-width: 560px) {
  .left-main-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: 100%;
  }
}

.documentsBtn {
  border-radius: 5px;
  width: 290px;
  height: 63px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: radial-gradient(113.41% 117.29% at -13.39% 80%, #fff 0%, #aea896 100%);
}
@media (max-width: 1182px) {
  .documentsBtn {
    width: 220px;
  }
}
@media (max-width: 992px) {
  .documentsBtn {
    width: 97%;
    margin: 5px;
    height: 50px;
  }
}
@media (max-width: 773px) {
  .documentsBtn {
    width: 250px;
  }
}
@media (max-width: 560px) {
  .documentsBtn {
    width: 97%;
    margin-top: 30px;
    margin-bottom: 0px;
  }
}
.documentsBtn__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media (max-width: 992px) {
  .documentsBtn__text {
    font-size: 16px;
  }
}
@media (max-width: 773px) {
  .documentsBtn__text {
    font-size: 15px;
  }
}

.neworderBtn {
  border-radius: 5px;
  width: 290px;
  height: 63px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: radial-gradient(113.41% 117.29% at -13.39% 80%, #fff 0%, #b69e5e 100%);
}
@media (max-width: 1182px) {
  .neworderBtn {
    width: 220px;
  }
}
@media (max-width: 992px) {
  .neworderBtn {
    width: 97%;
    margin: 5px;
    height: 50px;
  }
}
@media (max-width: 773px) {
  .neworderBtn {
    width: 250px;
  }
}
@media (max-width: 560px) {
  .neworderBtn {
    width: 97%;
    margin-top: 30px;
    margin-bottom: 0px;
  }
}
.neworderBtn__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media (max-width: 992px) {
  .neworderBtn__text {
    font-size: 16px;
  }
}
@media (max-width: 773px) {
  .neworderBtn__text {
    font-size: 15px;
  }
}

.whyBpvv-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;
  color: white;
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 992px) {
  .whyBpvv-title {
    font-size: 22px;
  }
}
@media (max-width: 773px) {
  .whyBpvv-title {
    font-size: 20px;
    margin-top: 40px;
  }
}
@media (max-width: 560px) {
  .whyBpvv-title {
    margin-top: 30px;
  }
}
.whyBpvv {
  background: #222436;
}
.whyBpvv-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 773px) {
  .whyBpvv-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.whyBpvv-flex-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1182px) {
  .whyBpvv-flex-left {
    max-width: 45%;
  }
}
@media (max-width: 773px) {
  .whyBpvv-flex-left {
    max-width: 100%;
  }
}
.whyBpvv-flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1182px) {
  .whyBpvv-flex-right {
    max-width: 45%;
  }
}
@media (max-width: 773px) {
  .whyBpvv-flex-right {
    max-width: 100%;
  }
}

.itemWhyBpvv {
  max-width: 500px;
  padding-top: 50px;
}
@media (max-width: 992px) {
  .itemWhyBpvv {
    padding-top: 45px;
  }
}
@media (max-width: 773px) {
  .itemWhyBpvv {
    max-width: 100%;
    padding-top: 30px;
  }
}
.itemWhyBpvv-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.itemWhyBpvv-main-img {
  width: 40px;
}
@media (max-width: 773px) {
  .itemWhyBpvv-main-img {
    width: 30px;
  }
}
.itemWhyBpvv-main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: white;
  padding-left: 15px;
}
@media (max-width: 992px) {
  .itemWhyBpvv-main-title {
    font-size: 15px;
  }
}
@media (max-width: 560px) {
  .itemWhyBpvv-main-title {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .itemWhyBpvv-main-title {
    padding-left: 5px;
  }
}
.itemWhyBpvv-text {
  font-family: "Chocolate Classical Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: white;
  padding-top: 15px;
  text-align: justify;
}
@media (max-width: 992px) {
  .itemWhyBpvv-text {
    font-size: 15px;
  }
}
@media (max-width: 773px) {
  .itemWhyBpvv-text {
    text-align: justify;
  }
}
@media (max-width: 560px) {
  .itemWhyBpvv-text {
    font-size: 14px;
    line-height: 200%;
  }
}

.bpvv-feature {
  background-color: #222436;
  font-family: "Montserrat", "PT Serif", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  color: white;
  padding-top: 50px;
}
@media (max-width: 560px) {
  .bpvv-feature {
    padding-top: 30px;
  }
}
.bpvv-feature-title {
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .bpvv-feature-title {
    width: 265px;
  }
}
@media (max-width: 560px) {
  .bpvv-feature-title {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.bpvv-feature-title-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;
  color: white;
  text-align: center;
}
@media (max-width: 992px) {
  .bpvv-feature-title-text {
    font-size: 22px;
  }
}
@media (max-width: 560px) {
  .bpvv-feature-title-text {
    font-size: 20px;
    padding-left: 20px;
  }
}
.bpvv-feature-title-imgRight, .bpvv-feature-title-imgDown {
  width: 30px;
}
@media (max-width: 560px) {
  .bpvv-feature-title-imgRight, .bpvv-feature-title-imgDown {
    width: 25px;
  }
}
table.iksweb {
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}
@media (max-width: 992px) {
  table.iksweb {
    width: 95%;
    font-size: 15px;
  }
}
@media (max-width: 560px) {
  table.iksweb {
    margin-top: 30px;
    width: 80%;
    font-size: 11px;
  }
}

table.iksweb, table.iksweb td, table.iksweb th {
  border: 1px solid #595959;
}

table.iksweb td, table.iksweb th {
  padding: 5px;
  height: 35px;
}

table.iksweb th {
  background: #4e6982;
  color: #fff;
  font-weight: normal;
}

.first_column {
  width: 40%;
}

.sec_column {
  width: 40%;
}
@media (max-width: 773px) {
  .sec_column {
    width: 35%;
  }
}

.third_column {
  width: 20%;
  text-align: center;
}
@media (max-width: 773px) {
  .third_column {
    width: 20%;
  }
}

.main_column {
  text-align: center;
  font-weight: 600;
}
.main_column_third {
  font-weight: 600;
}

.hidden {
  display: none;
}

.second-double {
  display: none;
}
@media (max-width: 560px) {
  .second-double {
    display: block;
  }
}

#myCarousel {
  --f-arrow-pos: 10px;
  --f-arrow-width: 38px;
  --f-arrow-height: 38px;
  --f-arrow-svg-width: 16px;
  --f-arrow-svg-height: 16px;
  --f-arrow-svg-stroke-width: 2.5;
  --f-arrow-color: #475569;
  --f-arrow-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
  --f-arrow-border-radius: 50%;
  --f-arrow-bg: #fff;
  --f-arrow-hover-bg: #f9f9f9;
  --f-arrow-active-bg: #f0f0f0;
  --f-thumb-width: 50px;
}
@media (max-width: 992px) {
  #myCarousel {
    padding-top: 70px;
  }
}
@media (max-width: 773px) {
  #myCarousel {
    padding-top: 65px;
  }
}
@media (max-width: 560px) {
  #myCarousel {
    padding-top: 30px;
  }
}

#myCarousel .f-carousel__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#myCarousel .f-carousel__slide img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 1182px) {
  #myCarousel .f-carousel__slide img {
    max-width: 400px;
  }
}
@media (max-width: 992px) {
  #myCarousel .f-carousel__slide img {
    max-width: 100%;
  }
}

.bpvv {
  --f-thumb-width: 50px;
  --f-thumb-height: 75px;
  --f-thumbs-padding-y: 15px;
  --f-thumbs-gap: 15px;
}

#myCarousel2 {
  --f-arrow-pos: 10px;
  --f-arrow-width: 38px;
  --f-arrow-height: 38px;
  --f-arrow-svg-width: 16px;
  --f-arrow-svg-height: 16px;
  --f-arrow-svg-stroke-width: 2.5;
  --f-arrow-color: #475569;
  --f-arrow-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
  --f-arrow-border-radius: 50%;
  --f-arrow-bg: #fff;
  --f-arrow-hover-bg: #f9f9f9;
  --f-arrow-active-bg: #f0f0f0;
  --f-thumb-width: 50px;
}
@media (max-width: 992px) {
  #myCarousel2 {
    padding-top: 70px;
  }
}
@media (max-width: 773px) {
  #myCarousel2 {
    padding-top: 65px;
  }
}
@media (max-width: 560px) {
  #myCarousel2 {
    padding-top: 30px;
  }
}

#myCarousel2 .f-carousel__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#myCarousel2 .f-carousel__slide img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 1182px) {
  #myCarousel2 .f-carousel__slide img {
    max-width: 400px;
  }
}
@media (max-width: 992px) {
  #myCarousel2 .f-carousel__slide img {
    max-width: 100%;
  }
}

#myCarouselBUVV__adaptive {
  --f-arrow-pos: 10px;
  --f-arrow-width: 38px;
  --f-arrow-height: 38px;
  --f-arrow-svg-width: 16px;
  --f-arrow-svg-height: 16px;
  --f-arrow-svg-stroke-width: 2.5;
  --f-arrow-color: #475569;
  --f-arrow-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
  --f-arrow-border-radius: 50%;
  --f-arrow-bg: #fff;
  --f-arrow-hover-bg: #f9f9f9;
  --f-arrow-active-bg: #f0f0f0;
  --f-thumb-width: 50px;
}
@media (max-width: 992px) {
  #myCarouselBUVV__adaptive {
    padding-top: 70px;
  }
}
@media (max-width: 773px) {
  #myCarouselBUVV__adaptive {
    padding-top: 65px;
  }
}
@media (max-width: 560px) {
  #myCarouselBUVV__adaptive {
    padding-top: 30px;
  }
}

#myCarouselBUVV__adaptive .f-carousel__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#myCarouselBUVV__adaptive .f-carousel__slide img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 1182px) {
  #myCarouselBUVV__adaptive .f-carousel__slide img {
    max-width: 400px;
  }
}
@media (max-width: 992px) {
  #myCarouselBUVV__adaptive .f-carousel__slide img {
    max-width: 100%;
  }
}

#myCarouselBUVV__fullscreen {
  --f-arrow-pos: 10px;
  --f-arrow-width: 38px;
  --f-arrow-height: 38px;
  --f-arrow-svg-width: 16px;
  --f-arrow-svg-height: 16px;
  --f-arrow-svg-stroke-width: 2.5;
  --f-arrow-color: #475569;
  --f-arrow-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
  --f-arrow-border-radius: 50%;
  --f-arrow-bg: #fff;
  --f-arrow-hover-bg: #f9f9f9;
  --f-arrow-active-bg: #f0f0f0;
  --f-thumb-width: 50px;
}
@media (max-width: 992px) {
  #myCarouselBUVV__fullscreen {
    padding-top: 70px;
  }
}
@media (max-width: 773px) {
  #myCarouselBUVV__fullscreen {
    padding-top: 65px;
  }
}
@media (max-width: 560px) {
  #myCarouselBUVV__fullscreen {
    padding-top: 30px;
  }
}

#myCarouselBUVV__fullscreen .f-carousel__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#myCarouselBUVV__fullscreen .f-carousel__slide img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 1182px) {
  #myCarouselBUVV__fullscreen .f-carousel__slide img {
    max-width: 400px;
  }
}
@media (max-width: 992px) {
  #myCarouselBUVV__fullscreen .f-carousel__slide img {
    max-width: 100%;
  }
}

.burger__list {
  line-height: 330%;
}

@media (max-width: 1182px) {
  .if1182px {
    display: none;
  }
}

@media (max-width: 773px) {
  .if773 {
    display: none;
  }
}

.f-thumbs__viewport {
  margin: 15px;
}