/************************************************************
				  NULL STYLE
************************************************************/
@import "_nullstyle";

/************************************************************
                	FONTS
************************************************************/
@import "fonts";
@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&display=swap');


/************************************************************
                	MIXIN
************************************************************/
@import "_mix-adaptiv-font";

/************************************************************
                	VARIABLES
************************************************************/
$maxWidth: 1170;

/*---Пример использования миксинов-----------------
---1---Миксин адаптива шрифта (размер по макету, размер по 320px)
@include adaptive-font(40,24);
-----------------------------------------------------

//Чтобы заработал ibg
	height: 100%;
	display: block;
	position: relative;

/************************************************************
               		 MAIN CODE
************************************************************/

//------Общие параметры---------------------------------------------
body {
	font-family: 'Roboto', sans-serif, 'PT Serif';
	font-size: 14px;
	font-weight: 500;
	line-height: 15px;
	background-color: #ffffff;
	color: #000;
	overflow-x: hidden;
}

.wrapper {
	overflow: hidden;
	&-settings {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		overflow: hidden;
	}
	
}
//--------------------------------------------------

.page {
	position: absolute;
	width: 100%;
	height: 112%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;

	
	&-settings {
		//display: flex;
		//flex-direction: column;
		//min-height: 100%;
	}
}
//-----------Технический класс для изображений бэкграунда--------
.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

	img {
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.6;
		visibility: hidden;
	}
}

.item {
	//Чтобы заработал ibg
	height: 100%;
	display: block;
	position: relative;
	&__image {
		//Чтобы заработал ibg
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
//---------------------------------------------------------------

._container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: content-box;
	@media (max-width:1182px) {
		max-width: 970px;
	}
	@media (max-width:992px) {
		max-width: 750px;
	}

	&-2 {
		display: flex;
	}

	&-about {
		display: flex;
		position: relative;
		left: -90px;
		max-width: 1360px;
		justify-content: space-between;
		margin: 0 auto;
		width: 100%;
		padding: 0px 15px;
	}
}
/************************************************************
               		 HEADER
************************************************************/
.header {

	padding: 35px 0;
	position: relative;
	z-index: 50;
	

	@media (max-width:992px) {
		padding: 35px 0;
	}

	@media (max-width: 767px) {
		padding: 10px 0;
	}

	&__row {
		display: flex;
		align-items: center;
		
	}

	&__menu {
		flex: 1 1 66.667%;
	}
}

.menu {

	&__icon {
	}

	&__body {
		
	}
 
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 875px;
		 
	}
 
	li {
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	&__link {
		font-family: "Chocolate Classical Sans", sans-serif, 'PT Serif';
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: white;
		&-active {
			color: #5e9ed5;
		}
	}
}

.orderBtn {
	
	
	&__text {
		display: inline-block;
		border: 1px solid black;
		border-radius: 3px;
		padding: 17.5px 17.25px;
		font-family: "Roboto", sans-serif;
		font-weight: 500;
		font-size: 16px;
		color: black;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
		background: radial-gradient(113.41% 117.29% at -13.39% 80%, #fff 0%, #b69e5e 100%);
		transition: all 0.5s ease;

			&:hover {
			transition: all 0.5s ease;
			}
	}
}


/************************************************************
               		 STATUS-BLOCK
************************************************************/

.main-screen {
	//flex: 1 0 70%;
	position: relative;
	//main-screen__bg
	&__bg {
		position: absolute;
		width: 105%;
		height: 185%;
		top: -16em;
		left: -2em;
	}
}


.main-screen-content {
	position: relative;
	z-index: 2;
	display: flex;
		
		&__logo {

			position: relative;
			margin-top: 135px;

			img {
				height: 100px;
				width: 100px;
				position: relative;
  				z-index: 6;
			}

			&-first-line {
				img {
					position: absolute;
					z-index: 5;
					left: -3em;
    				top: -7.7em;
					width: 67em;
					height: 100%;
				}
			}

			&-second-line {
				img {
					position: absolute;
					z-index: 5;
					width: 50em;
					height: 100%;
					top: 10em;
					left: 7em;
				}
			}
		}

		// .main-screen-content__company

		&__company {
		}

		// .main-screen-content__img

		&__img {
			//position: relative;
    		width: 100%;
    		//left: 3em;
    		//top: 3em;
			z-index: 5;
			flex: 1 1 70.33%;
    		display: flex;
			justify-content: right;

			&-img {
				width: 102%;
    			position: relative;
				justify-content: right;
			}
		}
}
.company {

	display: flex;
	//flex-wrap: wrap;
	margin: 150px 0px 0px 15px;
	//justify-content: space-evenly;
    max-width: 640px;
	max-height: 230px;
	flex-direction: column;

	&__name {
		font-family: "Roboto", sans-serif;
		font-weight: 700;
		font-size: 40px;
		line-height: 1.2;
		color: white;
	}

	// .company__name-sec

	&__name-sec {
		font-family: "Chocolate Classical Sans", sans-serif, 'PT Serif';
		font-weight: 400;
		font-size: 36px;
		line-height: 1.5;
		color: #ffb900;
	}

	// .company__disk

	&__disk {
		font-family: "Chocolate Classical Sans", sans-serif, 'PT Serif';
		font-weight: 400;
		font-size: 18px;
		line-height: 1.5;
		color: #fff;
		max-width: 600px;
		margin-top: 47px;
	}
}

.about-fpg {
	width: 102%;
	height: 800px;
	background-color: #222436;
	background: #222436;
	//flex: 1 0 100%;
	top: 60px;
	display: flex;
	flex-direction: row;
	position: relative;
}
.about-fpg-left {
	position: relative;
    //left: -32%;
		// .about-fpg-left__bg

		&__bg {
			display: flex;
			justify-content: flex-start;
		}

		// .about-fpg-left__text

		&__text {
			font-family: "Roboto", sans-serif;
			font-weight: 700;
			font-size: 40px;
			line-height: 120%;
			color: white;
			max-width: 404px;
			position: relative;
			left: 2.5em;
    		top: -10.6em;
		}
}
.about-fpg-right {
}
.right {

}
.right-main {
	font-family: "Chocolate Classical Sans", sans-serif, 'PT Serif';
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	&-top, &-bottom {
		display: flex;
		justify-content: space-between;
	}

	&-middle {
		max-width: 788px;
	}
}
.right-main-one {
	max-width: 365px;
	position: relative;
    top: 105px;
    left: 40px;
}
.right-main-two {
	max-width: 360px;
	position: relative;
	span {
		color: #5e9ed5;
	}
}
.right-main-three {
	max-width: 320px;
	position: relative;
    top: -70px;
    left: -20px;
}
.right-main-four {
	max-width: 360px;
	position: relative;
    left: -90px;
}
.right-main-grafic {
}


.grafic {
}
.grafic-main-line {
	max-width: 100%;
	
}

.readyAndTry {
	position: relative;
	top: 55px;
		// .readyAndTry__bg

	&__bg {
		position: absolute;
		width: 102%;
		height: 1640px;
		//filter: blur(5px);
		filter: brightness(0.4);
		left: -10px;
		//top: -5px;
		top: 0px;
	}

	&-main {
		position: relative;
		display: flex;
		flex-direction: column;
		//justify-content: center;
		align-items: center;
	
		&-readyProduct {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 75px;
		}
	}
}

.readyProduct {

	

	&-title {
		font-family: "Roboto", sans-serif;
		font-weight: 700;
		font-size: 40px;
		line-height: 120%;
		color: #fff;
	}
	
	&-subtitle {
		font-family: "Chocolate Classical Sans", sans-serif;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		text-align: center;
		color: #fff;
		padding-top: 10px;
		max-width: 600px;
	}
	
	&-cards {
		margin-top: 70px;
		width: 1170px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.title {
	
	&-readyProduct {

	}

	&-tryProduct {

	}

}


.subtitle {

	&-readyProduct {

	}

	&-tryProduct {
		width: 600px;
		text-align: center;
		align-items: center;
	}
}

.cardsReady {

	width: 240px;
    height: 500px;
	border: 1px solid rgba(94, 158, 213, 0.5);
	backdrop-filter: blur(4px);
	background: rgba(94, 158, 213, 0.38);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	img {
		padding-top: 20px;
	}
	

	&-digmat {
		
	}

	&-img {
		//padding-top: 20px;
		
		&-digmat {
			width: 89%;
		}

		&-BPVV {
			width: 85%;
		}

		&-BUVV {
			width: 85%;
		}

		&-RS80 {
			width: 90%;
			
		}

	}

	&-name {

		font-family: "Chocolate Classical Sans", sans-serif;
		font-weight: 400;
		font-size: 32px;
		line-height: 130%;
		color: #5e9ed5;
		text-align: center;
		margin-bottom: 20px;
		
		&-digmat {
			margin-bottom: 20px;
		}

		&-RS80 {
			margin-bottom: 20px;
		}

		&-about {
			font-size: 20px;
			line-height: normal;
			text-align: center;
		}
	}
}


.cardsTry {

	justify-content: flex-start;
	text-align: center;

	&-img {
		padding-top: 30px;
	}

	&-name {
		
		font-family: "Chocolate Classical Sans", sans-serif;
		font-weight: 400;
		font-size: 32px;
		line-height: 130%;
		color: #80c4ff;
		padding-top: 30px;

		&-RMS {
		
		}

		&-AVR {
		
		}

		&-MRZS {
		
		}
	}

	&-subname {

		padding-top: 30px;
		font-family: "Roboto";
		font-weight: 400;
		font-size: 22px;
		line-height: 160%;
		color: #5e9ed5;
		margin: 0 10px 0 10px;
		
		&-RMS {
		
		}

		&-AVR {
		
		}

		&-MRZS {
		
		}
	}
}



.tryProduct {
	padding-top: 120px;

	&-noneBlock {
		height: 118px;
	}
}

.advantages {

	height: 800px;
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
	flex-direction: column;

	&_container {
		position: relative;
		left: -1%;
	}
	

	&-bg {
		background: #222436;
		width: 102%;
		position: relative;
		height: 707px;
	}
	
	&-title {
		padding-top: 88px;
		font-family: "Roboto", sans-serif;
		font-weight: 700;
		font-size: 40px;
		line-height: 120%;
		text-align: center;
		color: #fff;
	}

	&-main {
		padding-top: 83px;
		display: flex;
		justify-content: space-between;
	}

	&-card {
		width: 370px;
		height: 370px;
		display: flex;
		flex-direction: column;
		//justify-content: center;
		align-items: center;
		border: 3px solid rgba(101, 164, 219, 0.08);
		border-radius: 3px;

		&-img {
			
			padding-top: 80px;

			&-img {
			
			}
		}

		&-title {
			font-family: "Roboto", sans-serif;
			font-weight: 700;
			font-size: 20px;
			line-height: 140%;
			color: #5e9ed5;
			padding-top: 14px;
		}

		&-subtitle {
			padding-top: 14px;
			width: 332px;
			font-family: "Chocolate Classical Sans", sans-serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 200%;
			text-align: center;
			color: #fff;
		}
	}


}

.title-advantages {
}

.left {

	&-card {
	
	}

	&-img {
	
	}

	&-title {

	}

	&-subtitle {
		
	}
}

.ruProduct {

	&-bg {
		height: 700px;
		background: #e7e7e7;
	}

	&-main {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&-left {
		padding-top: 137px;
		display: flex;
		flex-direction: column;
		max-width: 570px;

		&-ico {

			&-img {

			}
		}

		&-title {
			font-family: "Roboto", sans-serif;
			font-weight: 700;
			font-size: 40px;
			line-height: 120%;
			color: #000;
			padding-top: 21px;
		}

		&-subtitle {
			font-family: "Chocolate Classical Sans", sans-serif;
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			color: #000;
			padding-top: 21px;
		}

		&-btn {
			padding-top: 40px;
		}

	
	}

	&-right {
	
		&-img {
			padding-top: 120px;
			width: 100%;
		}
	}

}

.inTouch {

	
	&-main {
		height: 700px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		

		&-title {
			color: #000;
			padding-top: 0px;
			text-transform: uppercase;
		}

		&-body {
			display: flex;
			//padding-top: 50px;
			justify-content: right;

			&-img {
				background-image: url('../img/aboutuspng.svg');
				width: 1200px;
				height: 500px;
				background-repeat: no-repeat;
				position: absolute;
				background-size: 25%;
				z-index: 1;
				margin-top: 140px;
				//margin-left: 50px;
				filter: opacity(0.7);
			}


			&-text {
				font-size: 16px;
				letter-spacing: 1px;
				line-height: 28px;
				font-family: "Montserrat","PT Serif",sans-serif;
				font-weight: 500;
				line-height: 185%;
				color: #000;
				//text-align-last: right;
				max-width: 700px;
				text-align: justify;
				text-indent: 50px;
			}
		}
	}

	&-submain {
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 28px;
		font-family: "Montserrat","PT Serif",sans-serif;
		font-weight: 500;
		color: #000;
		z-index: 10;
		//padding-top: 50px;
		&-about {
			font-weight: 600;
		}
		&-tel {
			color: #000; 
			text-decoration: underline;
		}
		&-mail {
			color: #000; 
			text-decoration: underline;
		}

	}
}

.support-block-fl__dev {
	
	display: flex;
	flex-direction: column;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 28px;
	font-family: "Montserrat","PT Serif",sans-serif;
	font-weight: 500;
	line-height: 185%;
	color: #000;

	@media (max-width:992px) {
	text-align: center;
	}

	&-text {
		text-align: justify;
		text-align-last: right;
		max-width: 660px;
		margin-left: 44%;
		@media (max-width:992px) {
			margin-left: 0%;
			max-width: none;
			text-align-last: left;
			text-indent: 5%;
			padding-top: 20px;
			padding-bottom: 20px;
			max-width: 730px;
			margin: 0 auto;
		}
		@media (max-width:767px) {
			max-width: 540px;
		}
		@media (max-width:570px) {
			line-height: 150%;
		}
		@media (max-width: 420px) {
			font-size: 10px;
			max-width: 270px;
			padding: 10px 0 10px 0;
		}
	}

	&-info {
		&-tel {
			color: #000; 
			text-decoration: underline;
		}
		&-mail {
			color: #000; 
			text-decoration: underline;
		}
		@media (max-width: 420px) {
			font-size: 10px;
		}
	}

	&-title {
		text-align: right;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 2px;
		margin-bottom: 1%;
		@media (max-width:992px) {
			text-align: center;
		}
		@media (max-width: 420px) {
			font-size: 12px;
			margin-bottom: 0;
		}
	}

	&-contact {
		font-weight: 600;
		@media (max-width: 420px) {
			font-size: 10px;
		}
	}
}

//ФУТЕР//

.footer {
	
	&-bg {
		height: 400px;
		background: #222436;
	}

	&-main {
		padding-top: 90px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&-left {
	
		&-body {
			
			height: 100%;

			&-list {
				display: flex;
				flex-direction: column;
				li {
					padding-bottom: 25px;
				}
			}
		}
	}

	&-center {
		
		font-family: "Chocolate Classical Sans", sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #fff;

		&-title {
			
			color: #5e9ed5;
			padding-bottom: 25px;
		}

		&-phone {
			letter-spacing: 1px;
			padding-bottom: 15px;
			color: #fff;
		}

		&-icons {
			//max-width: 160px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 15px;
		}

		&-mail {
			color: #fff;
			letter-spacing: 1px;
		}
	}

	&-right {
		
		margin-right: 165px;
		&-btn {
		
		}
	}
}

.bpvv {

	&-page {
		background: #222436;
	}

	&-main {
	
		&-flex {
			padding-top: 35px;
			display: flex;
			justify-content: space-between;

			&-left {
			
			}

			&-right {
				
				&-img {
				
				}
			}
		}
	}

	&_btn {
		margin-right: 0;
	}
}

.left-main {

	display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: space-between;

	&-title {
		font-family: "Roboto", sans-serif;
		font-weight: 700;
		font-size: 40px;
		line-height: 120%;
		color: #efc03f;
	}

	&-text {
		padding-top: 30px;
		font-family: "Chocolate Classical Sans", sans-serif;
		font-weight: 400;
		font-size: 18px;
		line-height: 200%;
		color: white;
		max-width: 620px;
		text-align: justify;

		&-start {
			color: #efc03f;
		}
	}

	&-buttons {
		display: flex;
		justify-content: space-between;
		padding-top: 55px;
	}
}

.documentsBtn {

	border-radius: 5px;
	width: 271px;
	height: 63px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	background: radial-gradient(113.41% 117.29% at -13.39% 80%, #fff 0%, #aea896 100%);

	&__text {
		font-family: "Roboto", sans-serif;
		font-weight: 500;
		font-size: 18px;
		line-height: 89%;
		letter-spacing: 0.03em;
		color: black;
		width: 270px;
		display: flex;
		align-items: center;
		height: 63px;
		justify-content: center;
	}
}

.neworderBtn {

	border-radius: 5px;
	width: 271px;
	height: 63px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	background: radial-gradient(113.41% 117.29% at -13.39% 80%, #fff 0%, #b69e5e 100%);

	&__text {
		font-family: "Roboto", sans-serif;
		font-weight: 500;
		font-size: 18px;
		line-height: 89%;
		letter-spacing: 0.03em;
		color: black;
		width: 270px;
		display: flex;
		align-items: center;
		height: 63px;
		justify-content: center;
	}
}

.whyBpvv {

	&-title {
		font-family: "Roboto", sans-serif;
		font-weight: 700;
		font-size: 25px;
		line-height: 150%;
		color: white;
		text-align: center;
		margin-top: 50px;
	}
	//padding-top: 120px;
	background: #222436;

	&-flex {
		
		display: flex;
		justify-content: space-between;

		&-left {
			display: flex;
			flex-direction: column;
		}

		&-item {
			
		}

		&-right {
			display: flex;
			flex-direction: column;
		}
	}
}

.itemWhyBpvv {
	max-width: 500px;
	padding-top: 50px;

	&-main {

		display: flex;
		align-items: center;

		&-img {
			width: 40px;
		}

		&-title {
			font-family: "Roboto", sans-serif;
			font-weight: 700;
			font-size: 20px;
			line-height: 150%;
			color: white;
			padding-left: 15px;
		}
	}

	&-text {
		font-family: "Chocolate Classical Sans", sans-serif;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		color: white;
		padding-top: 15px;
	}
}

.bpvv-feature {
	background-color: #222436;
	font-family: "Montserrat", "PT Serif", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 170%;
	color: white;
	padding-top: 50px;

	&-title {
		width: 330px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		
		&-text {
			font-family: "Roboto", sans-serif;
			font-weight: 700;
			font-size: 25px;
			line-height: 150%;
			color: white;
			text-align: center;
			//display: inline;

			
		}

		&-imgRight, &-imgDown {
			width: 30px;
		}
	}

	&-link {

	}
}	

table.iksweb{
	width: 80%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
	
}
table.iksweb,table.iksweb td, table.iksweb th {
	border: 1px solid #595959;
}
table.iksweb td,table.iksweb th {
	padding: 5px;
	//width: 30px;
	height: 35px;
}
table.iksweb th {
	    background: #4e6982;
	color: #fff; 
	font-weight: normal;
}
.first_column {
	width: 40%;
}
.sec_column {
	width: 40%;
}
.third_column {
	width: 20%;
	text-align: center;
}
.main_column {
	text-align: center;
	font-weight: 600;
	&_third {
		font-weight: 600;
	}
}

.main_column, .third_column {
	
}

.hidden {
	display: none;
}

//CAROUSEL
#myCarousel {
	--f-arrow-pos: 10px;
	--f-arrow-width: 38px;
	--f-arrow-height: 38px;
	--f-arrow-svg-width: 16px;
	--f-arrow-svg-height: 16px;
	--f-arrow-svg-stroke-width: 2.5;
	--f-arrow-color: #475569;
	--f-arrow-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
	--f-arrow-border-radius: 50%;
	--f-arrow-bg: #fff;
	--f-arrow-hover-bg: #f9f9f9;
	--f-arrow-active-bg: #f0f0f0;
	--f-thumb-width: 50px;
	

}

#myCarousel .f-carousel__slide {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#myCarousel .f-carousel__slide img {
	max-width: 100%;
	height: auto;
}

.f-thumbs__viewport {
	margin: 15px;
}

.bpvv {
	--f-thumb-width: 50px;
    --f-thumb-height: 75px;
	--f-thumbs-padding-y: 15px;
	--f-thumbs-gap: 15px;
}